<div class="mat-display-1">Buttons</div>
<button mat-button>Default</button>
<button mat-raised-button>Raised</button>
<button mat-stroked-button>Stroked</button>
<button mat-flat-button>Flat</button>

<div class="mat-display-1">icons</div>
<button mat-icon-button aria-label="Example icon-button with a heart icon">
  <mat-icon>favorite</mat-icon>
</button>
<button mat-fab color="accent">Raised</button>
<button mat-mini-fab color="primary">Stroked</button>
<button mat-flat-button color="warn" disableRipple>Flat</button>

<div class="mat-display-1">Toggle Buttons like Radio button </div>
<mat-button-toggle-group #matRefVal="matButtonToggleGroup">
  <mat-button-toggle value="India">India</mat-button-toggle>
  <mat-button-toggle value="USA">USA</mat-button-toggle>
  <mat-button-toggle value="UK" disabled>Uk</mat-button-toggle>
</mat-button-toggle-group>
{{matRefVal.value}}

<div class="mat-display-1">Toggle Buttons like Check box </div>
<mat-button-toggle-group  multiple>
  <mat-button-toggle value="India">India</mat-button-toggle>
  <mat-button-toggle value="USA">USA</mat-button-toggle>
  <mat-button-toggle value="UK" disabled>Uk</mat-button-toggle>
</mat-button-toggle-group>
